<footer>
    <div class="f-info">
        <div class="f-info-media">
            <a href="https://www.instagram.com/__rishabhardwaj__/" target="_blank" rel="noopener noreferrer"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rishabh-sharma-312854355" target="_blank" rel="noopener noreferrer"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="f-info-brand">&copy TravelOn Pvt Ltd</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>


</footer>