body{
   background: conic-gradient(at left, rgb(253, 165, 175), rgb(244, 63, 94));
   display: flex;
   flex-direction: column;
   min-height: 100vh;

}
.container{
    flex: 1;
}
.navbar {
  height: 5rem;
  background-color: rgba(128, 128, 128, 0.75); /* 75% transparent gray */
  background-clip: padding-box;
  backdrop-filter: blur(8px) saturate(100%) contrast(100%);
}

.navbar-nav .nav-link {
  color: #000000;          /* white text */
  opacity: 1;           /* full opacity */
  text-decoration: none;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  background-image: radial-gradient(ellipse at left, #3730a3, #be185d, #0f172a);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}

.fa-compass{
    color: rgb(190, 37, 37);
   font-size:  2.5rem;
}
.container-fluid{
    color: black !important;
}
.front{
    color: rgb(223, 163, 231);
}

/* // footer  */
.f-info{
    display: flex;
    flex-wrap: wrap;
   text-align: center;
    justify-content: center;
    height: 7em;
     align-items: space-evenly;
     background-color: rgba(128, 128, 128, 0.75);
    
}
.f-info-media {
    font-size: 1.25rem;
    margin-right: 0.25;
}
.f-info-media i {
  font-size: 1.25rem;  
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.f-info-media i:hover {
  transform: scale(1.1);   /* increases size smoothly */
  background-image: linear-gradient(to top left, #d97706, #be123c, #2dd4bf);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
  
}

.f-info-links,.f-info-media,.f-info-brand{
width: 100%;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;

}
.f-info-links a {
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;  
}
.f-info-brand{
    background-image: linear-gradient(to top left, #eff6ff, #fca5a5, #67e8f9);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}

/* card */
.liting-card{
    border: none !important;
    margin: 10px 0px 10px 0px;
    border-radius: 15px !important;
     background: radial-gradient(125% 125% at 50% 90%, #ffffff 40%, #ec4899 100%);
     box-shadow:  5px 10px 294px 39px rgba(97, 27, 120, 0.2);
}
.card-img-top{
    border-radius: 1.5rem !important;
    width: 100% !important;
    object-fit: cover !important;
    padding-top: 10px !important;
}
.index-img{
    padding: 10px 10px 10px 10px;
}
.card-body{
    padding-left: 5% !important;
}
.card-img-overlay{
    opacity: 0%;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.listing-link{
    text-decoration: none;
}

/* add */
.add-btn{
    background-color: #d80808 !important;
    border: none !important;
}
.btns{
    display: flex;
}
/* show */
.show-image{
    object-fit: cover !important;
    height: auto; 
    max-height: 400px;
}